@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600&display=swap');

/* reseteo */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Figtree, sans-serif;
    color: #231F4D;
}

header{
    width: 1100px;
    height: 104px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header img{
        margin-left: 16px;
    }
    header nav{
        margin-right: 16px;
    }
        header nav a{
            text-decoration: none; /* quitar el subrayado */
            font-size: 20px;
            margin-left: 16px; /* ESTO VA A SER PADDING */
            color: #231F4D;
        }
        header nav a:hover{
            color: #E200E2;
        }

/*#####  main    #####*/
main{
    width: 1100px;
    min-height: 800px;
    margin: auto;
}

/* video en el index */
    video{
        width: 1100px;
        height: 464px;
        object-fit: cover;
    }

/* sección servicios */
#servicios{
    margin-top: 56px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #F8DFDD;
}

    #servicios article{
        width: 320px;
        border-radius: 8px;
        background-color: #fff;
    }
        #servicios article img{
            border-radius: 8px 8px 0px 0px;
        }

    #servicios h2{
        font-weight: 400;
        margin: 16px;
    }
    #servicios p{
        margin: 0px 16px 32px 16px;
    }

/* hero banner */    
    #hero-banner{
        height: 450px;
        background-image: url(../imgs/nubes.jpg);
        background-size: 1100px;
        background-position: 0 -200px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
        #hero-banner h1{
            color: #fff;
            font-size: 40px;
            font-weight: 400;
        }

/* sección promos */
#promos{
    padding: 40px;
    background-color: #FED8D2;
    display: grid;
    row-gap: 40px;
    margin-top: 40px;
}
    #promos article{
        background-color: #fff;
        display: flex;
    }
        #promos article div{
            padding: 16px 32px;
        }
            #promos article div h2{
                font-weight: 400;
                margin-bottom: 20px;
            }
            #promos article div span{
                color: #E14536;
            }
            #promos article div p{
                margin-top: 40px;
            }
            #promos article div a{
                background-color: #E14536;
                color: #fff;
                display: block;
                width: 160px;
                padding: 8px;
                margin: 40px auto 0px auto;
                border-radius: 8px;
                text-align: center;
                text-decoration: none;
            }


/* footer */
footer{
    width: 1100px;
    height: 168px;
    background-color: #231F4D;
    margin: 56px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

    footer div a{
        margin: 12px;
    }